@model InstrctrWithDprtmntViewModel
@{
    ViewData["Title"] = "New";
    SelectList deptOptions = ViewBag.DeptList;
    SelectList courseOptions = ViewBag.CourseList;
}

<h1>New</h1>

<form asp-action="NewInstructor" asp-controller="Instructore" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" value="@Model?.Name" />
    </div>
    <br />

    <div class="form-group">
        <label asp-for="ImageFile"></label>
        <input type="file" asp-for="ImageFile" class="form-control" />
    </div><br />

    <div class="form-group">
        <label asp-for="Address"></label>
        <input type="text" asp-for="Address" class="form-control" value="@Model?.Address" />
    </div><br />

    <div class="form-group">
        <label asp-for="Salary"></label>
        <input type="number" asp-for="Salary" class="form-control" value="@Model?.Salary" />
    </div><br />

    <div class="form-group">
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" class="form-control" asp-items="deptOptions">
            <option value="0" disabled selected>---Select Department---</option>
        </select>
    </div><br />

    <div class="form-group">
        <label asp-for="CourseId"></label>
        <select asp-for="CourseId" class="form-control" asp-items="courseOptions">
            <option value = "0" disabled selected>---Select Course---</option>
        </select>
    </div><br />

    <button type="submit" class="btn btn-primary">Add Instructor</button>
</form>

